<!DOCTYPE html>
<html>

<head>
  <title>AcaFinder</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <link href="../static/images/favicon.png" rel="icon" />
  <link rel="stylesheet" href="../static/css/atul-web.css">
  <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
  <div class="topnav">
    <div style="display: flex;">
        <a href="/" style="text-decoration:none;">
            <img src="../static/images/site-identity.png" alt="site identity" width="48" height="30" style="padding: 3px;"/>
        </a>
    </div>

    <div class="search bar2">
        <form action="searchList" method = "get" id = 'searchEntityForm'>
              <input type="text" id = "user_text" name = "user_text" placeholder="More than your input (name, question even link)" required="required">
              <button type="submit"></button>
        </form>
    </div>
  </div>



  {% block body %}


  {% endblock %}
  <div class="footer" id="footer">
      <h4>© Copyright 2020 AcaFinder, OmegaXYZ.com</h4>
  </div>
</body>

</html>