<!DOCTYPE html>
<html lang="en">
   <head>
      <title>AcaFinder</title>
      <meta charset="utf-8">
      <meta name="author" content="Reacubeth Tsui" />
      <meta name="description" content="AcaFinder for academia" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
      <link href="../static/images/favicon.png" type="image/x-icon" rel="shortcut icon" />
      <link href="../static/css/screen.css" rel="stylesheet" />
   </head>
   <body class="home" id="page">
      <!-- Header -->
      <header class="main-header">
         <div class="container">
            <div class="header-content">
               <a href="/">
                  <div style="display: flex;">
                    <img src="../static/images/site-identity.png" alt="site identity" width="85" height="58"/>
                    <h2 style="padding-top: 20px">AcaFinder</h2>
                  </div>
               </a>

               <nav class="site-nav">
                  <ul class="clean-list site-links">
                     <li>
                        <a href="https://github.com/xyjigsaw" target="_blank">Doc</a>
                     </li>
                     <li>
                        <a href="https://github.com/xyjigsaw" target="_blank">About</a>
                     </li>
                  </ul>
                  <a href="#" class="btn btn-outlined">Sign up</a>
               </nav>
            </div>
         </div>
      </header>

      <!-- Main Content -->
      <div class="content-box">
         <!-- Hero Section -->
         <section class="section section-hero">
            <div class="hero-box">
               <div class="container">
                  <div class="hero-text align-center">
                     <h1>Visualize Your Research</h1>
                     <p>and surf the academia</p>
                  </div>

                  <form action="searchList" method = "get" class="destinations-form">
                     <div class="input-line">
                        <input type="text" id="search" value="" name = "user_text" class="form-input check-value" required="required" placeholder="More than your input (name, question even link)" />
                        <button type="submit" class="form-submit btn btn-special">Find</button>
                     </div>
                  </form>
               </div>
            </div>

            <!-- Statistics Box -->
            <div class="container">
               <div class="statistics-box">
                  <div class="statistics-item">
                     <span class="value">185,915,481</span>
                     <p class="title">Papers</p>
                  </div>

                  <div class="statistics-item">
                     <span class="value">89,421,970</span>
                     <p class="title">Authors</p>
                  </div>

                  <div class="statistics-item">
                     <span class="value">35,000</span>
                     <p class="title">Affiliations</p>
                  </div>

                  <div class="statistics-item">
                     <span class="value">50,000</span>
                     <p class="title">Concepts</p>
                  </div>

                  <div class="statistics-item">
                     <span class="value">98,765,217</span>
                     <p class="title">Visitors</p>
                  </div>
               </div>
            </div>
         </section>

         <!-- Gexf-->
         <section class="section section-homeRelation">
            <h1 style="text-align: center; margin-top: -50px;">Academia Network</h1>
         	<div id="homeRelation" style="width: auto;height:600px; text-align: center"></div>
         </section>

         <!-- Destinations Section -->
         <section class="section section-destination">
            <!-- Title -->
            <div class="section-title">
               <div class="container">
                  <h2 class="title">Explore our top destinations</h2>
                  <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
               </div>
            </div>

            <!-- Content -->
            <div class="container">
               <div class="row">
                  <div class="col-md-16 col-xs-24">
                     <div class="destination-box">
                        <div class="box-cover">
                           <a href="#">
                              <img src="../static/images/destination-1.jpg" alt="destination image" />
                           </a>
                        </div>

                        <span class="boats-qty">730</span>

                        <div class="box-details">
                           <div class="box-meta">
                              <h4 class="city">Figueira da Fox</h4>
                              <p class="country">Portugal</p>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="col-md-8 col-sm-12 col-xs-24">
                     <div class="destination-box">
                        <div class="box-cover">
                           <a href="#">
                              <img src="../static/images/destination-2.jpg" alt="destination image" />
                           </a>
                        </div>

                        <span class="boats-qty">621</span>

                        <div class="box-details">
                           <div class="box-meta">
                              <h4 class="city">Ibiza</h4>
                              <p class="country">Spain</p>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="col-md-8 col-sm-12 col-xs-24">
                     <div class="destination-box">
                        <div class="box-cover">
                           <a href="#">
                              <img src="../static/images/destination-3.jpg" alt="destination image" />
                           </a>
                        </div>

                        <span class="boats-qty">543</span>

                        <div class="box-details">
                           <div class="box-meta">
                              <h4 class="city">Palma de Mallorca</h4>
                              <p class="country">Spain</p>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="col-md-8 col-sm-12 col-xs-24">
                     <div class="destination-box">
                        <div class="box-cover">
                           <a href="#">
                              <img src="../static/images/destination-4.jpg" alt="destination image" />
                           </a>
                        </div>

                        <span class="boats-qty">495</span>

                        <div class="box-details">
                           <div class="box-meta">
                              <h4 class="city">Portofino</h4>
                              <p class="country">Italy</p>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="col-md-8 col-sm-12 col-xs-24">
                     <div class="destination-box">
                        <div class="box-cover">
                           <a href="#">
                              <img src="../static/images/destination-5.jpg" alt="destination image" />
                           </a>
                        </div>

                        <span class="boats-qty">402</span>

                        <div class="box-details">
                           <div class="box-meta">
                              <h4 class="city">Port Hercules</h4>
                              <p class="country">Monaco</p>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="load-destinations-box">
                     <div class="col-md-8 col-sm-12 col-xs-24">
                        <div class="destination-box">
                           <div class="box-cover">
                              <a href="#">
                                 <img src="../static/images/destination-4.jpg" alt="destination image" />
                              </a>
                           </div>

                           <span class="boats-qty">495</span>

                           <div class="box-details">
                              <div class="box-meta">
                                 <h4 class="city">Portofino</h4>
                                 <p class="country">Italy</p>
                              </div>
                           </div>
                        </div>
                     </div>

                     <div class="col-md-8 col-sm-12 col-xs-24">
                        <div class="destination-box">
                           <div class="box-cover">
                              <a href="#">
                                 <img src="../static/images/destination-5.jpg" alt="destination image" />
                              </a>
                           </div>

                           <span class="boats-qty">402</span>

                           <div class="box-details">
                              <div class="box-meta">
                                 <h4 class="city">Port Hercules</h4>
                                 <p class="country">Monaco</p>
                              </div>
                           </div>
                        </div>
                     </div>

                     <div class="col-md-8 col-sm-12 col-xs-24">
                        <div class="destination-box">
                           <div class="box-cover">
                              <a href="#">
                                 <img src="../static/images/destination-3.jpg" alt="destination image" />
                              </a>
                           </div>

                           <span class="boats-qty">543</span>

                           <div class="box-details">
                              <div class="box-meta">
                                 <h4 class="city">Palma de Mallorca</h4>
                                 <p class="country">Spain</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="align-center">
                  <a href="#" class="btn btn-default btn-load-destination"><span class="text">Explore more destinations</span><i class="icon-spinner6"></i></a>
               </div>
            </div>
         </section>

         <!-- Parallax Box -->
         <div class="parallax-box">
            <div class="container">
               <div class="text align-center">
                  <h1>Have your own boat?</h1>
                  <p>navigare necesse est, vivere non est necesse</p>

                  <a href="#" class="btn btn-special no-icon size-2x">Rent your boat</a>
               </div>
            </div>
         </div>

      </div>

      <!-- Footer -->
      <footer class="main-footer">
         <div class="container">
            <div class="row">
               <div class="col-md-5">
                  <div class="widget widget_links">
                     <h5 class="widget-title">Top Locations</h5>
                     <ul>
                        <li><a href="#">Lorem impsum dolor</a></li>
                        <li><a href="#">Sit amet consectetur</a></li>
                        <li><a href="#">Adipisicing elit</a></li>
                        <li><a href="#">Eiusmod tempor</a></li>
                        <li><a href="#">incididunt ut labore</a></li>
                     </ul>
                  </div>
               </div>

               <div class="col-md-5">
                  <div class="widget widget_links">
                     <h5 class="widget-title">Featured Boats</h5>
                     <ul>
                        <li><a href="#">Lorem impsum dolor</a></li>
                        <li><a href="#">Sit amet consectetur</a></li>
                        <li><a href="#">Adipisicing elit</a></li>
                        <li><a href="#">Eiusmod tempor</a></li>
                     </ul>
                  </div>
               </div>

               <div class="col-md-9">
                  <div class="widget widget_social">
                     <h5 class="widget-title">Subscribe to our newsletter</h5>
                     <form class="subscribe-form">
                        <div class="input-line">
                           <input type="text" name="subscribe-email" value="" placeholder="Your email address" />
                        </div>
                        <button type="button" name="subscribe-submit" class="btn btn-special no-icon">Subscribe</button>
                     </form>

                     <ul class="clean-list social-block">
                        <li>
                           <a href="#"><i class="icon-facebook"></i></a>
                        </li>
                        <li>
                           <a href="#"><i class="icon-twitter"></i></a>
                        </li>
                        <li>
                           <a href="#"><i class="icon-google-plus"></i></a>
                        </li>
                     </ul>
                  </div>
               </div>

               <div class="col-md-5">
                  <div class="widget widget_links">
                     <h5 class="widget-title">Contact us</h5>
                     <ul>
                        <li><a href="#">Lorem impsum dolor</a></li>
                        <li><a href="#">Sit amet consectetur</a></li>
                        <li><a href="#">Adipisicing elit</a></li>
                        <li><a href="#">Eiusmod tempor</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </footer>

      <!-- Scripts -->
      <script src="../static/js/jquery.js"></script>
      <script src="../static/js/echarts.js"></script>
      <script src="../static/js/functions.js"></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>
      <script type="text/javascript" src="../static/js/readGexf.js"></script>

   </body>
</html>
